* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 50px;
}

.square {
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 35px;
    font-size: 3rem;
    cursor: pointer;
    background-color: white;
}

.square-hover {
    background-color: #f0f0f0;
}